---
import { Image } from "astro:assets";
import CLogo from "../assets/c.svg";
import SwiftLogo from "../assets/swift.svg";
---

<div
  id="carousel"
  class="text-white bg-sky-900 rounded-xl p-8 m-10 overflow-hidden"
>
  <h1 class="pb-5 text-2xl">Technologies & Tools We Use</h1>
  <div class="flex gap-8">
    <ul id="carouselList" class="flex transition 1s ease-out">
      <li class="size-44">
        <Image class="p-2 size-44" src={SwiftLogo} alt="" />
      </li>
      <li class="size-44">
        <Image class="p-2 size-44" src={CLogo} alt="radi" />
      </li>
      <li class="size-44">
        <Image class="p-2 size-44" src={SwiftLogo} alt="" />
      </li>
      <li class="size-44">
        <Image class="p-2 size-44" src={CLogo} alt="radi" />
      </li>
      <li class="size-44">
        <Image class="p-2 size-44" src={SwiftLogo} alt="" />
      </li>
      <li class="size-44">
        <Image class="p-2 size-44" src={CLogo} alt="radi" />
      </li>
      <li class="size-44">
        <Image class="p-2 size-44" src={SwiftLogo} alt="" />
      </li>
      <li class="size-44">
        <Image class="p-2 size-44" src={CLogo} alt="radi" />
      </li>
      <li class="size-44">
        <Image class="p-2 size-44" src={SwiftLogo} alt="" />
      </li>
      <li class="size-44">
        <Image class="p-2 size-44" src={CLogo} alt="radi" />
      </li>
    </ul>
  </div>
</div>

<script>
  const initCarousel = () => {
    const carousel = document.querySelector("#carousel") as HTMLElement;
    const carouselList = document.querySelector(
      "#carouselList"
    ) as HTMLUListElement;
    const slides = carouselList.querySelectorAll("li");

    const firstSlideClone = slides[0].cloneNode(true) as HTMLElement;
    const lastSlideClone = slides[slides.length - 1].cloneNode(
      true
    ) as HTMLElement;

    carouselList.appendChild(firstSlideClone);
    carouselList.insertBefore(lastSlideClone, slides[0]);

    let counter = 1;
    const slideWidth = slides[0].clientWidth;

    function moveSlide() {
      counter++;

      if (counter === slides.length) {
        counter = 1;
        carouselList.style.transition = "none";
        carouselList.style.transform = `translateX(-${slideWidth}px)`;

        setTimeout(() => {
          carouselList.style.transition = "1s ease-out";
        }, 50);
      }

      const offset = -slideWidth * counter;
      carouselList.style.transform = `translateX(${offset}px)`;
    }

    setInterval(moveSlide, 3000);
  };

  initCarousel();

  // Reinitialize carousel when components are re-rendered
  document.addEventListener("astro:after-render", initCarousel);
</script>
